.accounts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.leftMenu {
  position: absolute;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -200px;
  width: 250px;
  height: 100vh;
  gap: 2px;
  transition: all 200ms ease-in;
}
.leftMenu:hover {
  transform: translateX(200px);
}
.clientButton {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(194, 194, 194);
  transition: all 200ms ease-in;
  padding: 10px;
  color: rgb(0, 0, 0);
}
.clientButton:hover {
  filter: brightness(80%);
  border-radius: 10px;
  cursor: pointer;
}
