.checkbox {
  all: unset;
  height: 20px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  animation: widthanimation 200ms forwards;
  transition: all 200ms ease;
}
@keyframes widthanimation {
  from {
    width: 0px;
  }
  to {
    width: 20px;
  }
}
.checkbox:checked {
  background-color: white;
  border-radius: 5px;
  background-color: rgb(116, 116, 255);
}

.checkbox:checked::after {
  content: "✓";
  color: white;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  animation: sizeanimation 200ms forwards;
}
@keyframes sizeanimation {
  from {
    font-size: 0px;
  }
  to {
    font-size: 20px;
  }
}
.clientAccount {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 100px;
  overflow-x: auto;
  overflow-y: none;
}
.newOrder {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  transition: all 200ms ease;
}
.newPayment {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 30%;
  min-height: 30%;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  transition: all 200ms ease;
}
.rowdiv {
  display: flex;
  gap: 10px;
  max-height: 100vh;
  height: 90%;
}
.h_30 {
  height: 30px;
}
.h_25 {
  margin: 10px 0px;
  height: 25px;
}
.alltabs {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: 100%;
  width: 600px;
  min-width: 550px;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 5px black;
}
.newitem {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  gap: 5px;
  height: 35px;
  width: 100%;
}
.itemsDiv {
  overflow-y: scroll;
  position: relative;
  height: 90%;
  width: 100%;
}

/* Quando o checkbox estiver marcado, aumentar a .newOrder */
.orderContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Aqui vai funcionar corretamente */
.toggleSize:checked + .newOrder {
  width: 900px;
  height: 800px;
  background: lightblue;
  transition: all 0.3s ease;
}
.label {
  display: flex;
  gap: 3px;
}
.paymentTypes {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 150px;
}
.activedLabel {
  background-color: blue;
}
.tab {
  width: 100%;
  position: relative;
  max-height: 60px;
  box-shadow: 1px 1px 5px black;
  padding: 20px;
  transition: all 1s ease-in-out;
  border-radius: 5px;
  animation: opacityAnimation 300ms ease;
}
@keyframes opacityAnimation {
  from {
    transform: translateX(300px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX((-300px));
  }
}
.closedTab {
  background-color: rgb(197, 197, 197);
}
.tab.extended {
  max-height: 1000px;
  animation: borderAnimation 1s forwards;
}
@keyframes borderAnimation {
  0% {
    border-radius: 10px;
  }
  50% {
    border-radius: 20px;
  }
  100% {
    border-radius: 10px;
  }
}
.checked:checked + label {
  background-color: #88f;
  color: white;
}
.checkLabel {
  padding: 4px;
  margin: 4px;
  border-radius: 5px;
  transition: all 200ms ease;
}

.checkLabel:hover {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 25px;
}
.itemsComanda {
  padding: 10px;
  box-shadow: 0px 0px 2px grey;
  border-left: 2px solid grey;
  margin: 10px;
}

.maximizeButton {
  all: unset;
  border: 1px solid grey;
  /* box-shadow: 0px 0px 3px black; */
  padding: 1px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 200ms ease;
}
.maximizeButton:hover {
  border-radius: 10px;
  filter: brightness(110%);
}

.functions {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 10px;
  gap: 3px;
}
.overflowed {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 3px;
  padding-right: 10px;
  padding-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.openTabs1 {
  display: grid;
  padding: 10px;
  margin: 20px;
  width: 90dvw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 16px; /* espaço entre os itens, pode ajustar */
  overflow: auto; /* ativa scroll se precisar */
  max-height: 100dvh; /* opcional: limita a altura da área com scroll */
}
.openTabs2 {
  display: grid;
  padding: 10px;
  margin: 20px;
  width: 90dvw;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  gap: 16px; /* espaço entre os itens, pode ajustar */
  overflow: auto; /* ativa scroll se precisar */
  max-height: 100dvh; /* opcional: limita a altura da área com scroll */
}
.openTabs3 {
  display: grid;
  padding: 10px;
  margin: 20px;
  width: 90dvw;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  gap: 16px; /* espaço entre os itens, pode ajustar */
  overflow: auto; /* ativa scroll se precisar */
  max-height: 100dvh; /* opcional: limita a altura da área com scroll */
}
.eachtab1 {
  width: 100%;
  height: 500px;
  background-color: #f0f0f0; /* cor de exemplo */
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
